# Cấu hình Server
PORT=3000

# Cấu hình MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=quiz_db

# Tài khoản Admin Quản trị
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Khóa bí mật cho JWT Auth Token
JWT_SECRET=super_secret_quiz_jwt_key_2026_onepiece
